body {
  background-color: antiquewhite;
  font-family: "Lato", sans-serif;
}

a {
  color: darksalmon;
}

.my-weather-app {
  background-color: aliceblue;
  max-width: 600px;
  margin: 40px auto;
  -webkit-box-shadow: 0 30px 50px rgba(65, 50, 100, 0.08);
  box-shadow: 0 30px 50px rgba(65, 50, 100, 0.08);
  border-radius: 16px;
  padding: 30px;
}

header {
  border-bottom: 1px solid antiquewhite;
  padding: 0 0 30px 0;
}

#loading-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: antiquewhite;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
  opacity: 1;
  transition: opacity 0.5s ease-in-out, visibility 0.5s ease-in-out;
  visibility: visible;
}

#loading-overlay.fade-out {
  opacity: 0;
  visibility: hidden;
}

.loader {
  width: 50px;
  aspect-ratio: 1;
  display: grid;
  border: 4px solid transparent;
  border-radius: 50%;
  border-right-color: #25b09b;
  animation: spin 1s infinite linear;
}

.loader::before,
.loader::after {
  content: "";
  grid-area: 1/1;
  margin: 2px;
  border: inherit;
  border-radius: 50%;
  animation: spin 2s infinite linear;
}

.loader::after {
  margin: 8px;
  animation-duration: 3s;
}

@keyframes spin {
  100% {
    transform: rotate(360deg);
  }
}

.content {
  padding: 20px;
  text-align: center;
}

.loaderTwo {
  margin: 0 auto;
  width: 35px;
  aspect-ratio: 2;
  --_g: no-repeat radial-gradient(circle closest-side, #000 90%, #0000);
  background: var(--_g) 0% 50%, var(--_g) 50% 50%, var(--_g) 100% 50%;
  background-size: calc(100% / 3) 50%;
  animation: l3 1s infinite linear;
}

@keyframes l3 {
  20% {
    background-position: 0% 0%, 50% 50%, 100% 50%;
  }
  40% {
    background-position: 0% 100%, 50% 0%, 100% 50%;
  }
  60% {
    background-position: 0% 50%, 50% 100%, 100% 0%;
  }
  80% {
    background-position: 0% 50%, 50% 50%, 100% 100%;
  }
}

h1 {
  margin: 0;
  font-size: 38px;
  line-height: 48px;
}

.search-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.search-form > div:nth-child(1) {
  -ms-flex-preferred-size: 80%;
  flex-basis: 80%;
}

.search-form > div:nth-child(2) {
  -ms-flex-preferred-size: 20%;
  flex-basis: 20%;
}

.search-form-input {
  background-color: antiquewhite;
  border: none;
  border-radius: 6px;
  width: 90%;
  font-size: 16px;
  padding: 15px 20px;
}

button.search-form-button {
  width: 100px;
  height: 45px;
  max-width: 100px;
  max-height: 45px;
  cursor: pointer;
  margin-left: 5px;
  padding: 12px 10px;
  border: 0.5px solid #8c7d6c;
  font-size: 14px;
  border-radius: 7px;
  background-color: #ffe4c4;
  color: black;
  font-weight: 500;
  -o-transition: all 0.5s;
  transition: all 0.5s;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  display: inline-block;
  -webkit-transition: all 0.5s;
}

button.search-form-button:hover {
  background-color: #ddc9b0;
  -webkit-box-shadow: 0 0 20px #6fc5ff50;
  box-shadow: 0 0 20px #6fc5ff50;
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
}

button.search-form-button:active {
  background-color: #f2d5b1;
  -o-transition: all 0.25s;
  transition: all 0.25s;
  -webkit-transition: all 0.25s;
  -webkit-box-shadow: none;
  box-shadow: none;
  -webkit-transform: scale(0.98);
  -ms-transform: scale(0.98);
  transform: scale(0.98);
}

main {
  padding: 30px 0;
}

.main-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.weather-app-details {
  font-size: 16px;
  color: rgba(39, 33, 66, 0.4);
  line-height: 24px;
  font-weight: 500;
}

.weather-app-details strong {
  color: burlywood;
}

.weather-app-temperature {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.temperature-icon {
  width: 88px;
  height: 88px;
}

.temperature-value {
  font-size: 88px;
  line-height: 88px;
  margin-left: 10px;
  font-weight: bold;
}

.temperature-unit {
  margin-top: 16px;
  font-size: 28px;
}

.weather-forecast {
  display: flex;
  justify-content: space-around;
  margin-top: 30px;
}

.weather-forecast-day {
  text-align: center;
  color: rgba(39, 33, 66, 0.4);
  font-size: 16px;
  line-height: 20px;
  margin-bottom: 10px;
}

.weather-forecast-icon {
  width: 88px;
  height: 88px;
  display: block;
  margin: 0 auto;
}

.weather-forecast-temperatures {
  text-align: center;
  color: burlywood;
  margin-top: 10px;
  display: flex;
  justify-content: center;
}

.weather-forecast-temperature {
  padding: 0 10px;
}

footer {
  border-top: 1px solid antiquewhite;
  padding: 30px 0 0 0;
  text-align: center;
  font-size: 14px;
  color: rgba(0, 0, 0, 0.6);
}
